<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>whatsleft1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18156D111C1A46C000416BD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18156D2D1C1A46C100416BD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18156D381C1A46C100416BD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
